<p id="notice"><%= notice %></p>


<h1 class="page-header"><%= @position.title %></h1>

<div class="row">
  <div class="col-md-6">
    <h3> Examinations for this position </h3>
  </div>

  <div class-"col-md-6">
  <h3> List of Examinations </h3>


  </div>

</div>
<%= link_to 'Back', positions_path %>
