<h1>Editing interviewer</h1>
<div class="col-md-12">
<div class="col-md-12"><%= render 'form' %></div>
<div class="col-md-12"><%= link_to 'Back', interviewers_path, :class => "btn btn-default col-md-1" %></div>
</div>