body{
  background: rgba(28,181,104,1) url('/images/businessman_opaque_50.png')  no-repeat center center;
  -webkit-background-size:cover;
       -moz-background-size:cover;
         -o-background-size:cover;
            background-size:cover;
  background-position: center 0;
}


html, body {
    height: 100%;
}


#splash_logo{
  color: white;
}

#splash_logo span{
  font-size: 3em;
}

.img-center {
  margin:0 auto;
}

#admin_pic{
  display: block;
}

#splash_logo .logo{
  background: url('/images/logo.png') center center;
  height: 170px;
  background-repeat:no-repeat;
}


@media screen and (max-width: 767px){
  #admin_pic{
    display: none !important;
  }

  #splash_logo .logo{
    -webkit-background-size:cover;
       -moz-background-size:cover;
         -o-background-size:cover;
            background-size:cover;
  }
}
