body{
  padding-top: 50px;
}


/*css rules for header*/

  nav{
    background: #ddd;
  }

  header #logo{
    background: #999;
  }

  header .navbar{
    margin: 0;
    padding: 0;
  }

  #search *{
    float: left;
    margin:0;
  }

  #search .input{
    position: relative;
    width: 250px;
    height: 50px;
    background: #777;
    border: 0;
    padding-left: 10px;
  }

  #search .submit{
    position:relative;
    width: 50px;
    height: 50px;
    border: 0;
    background: #888;
  }

#side{
  background: #eee;
}

#myCanvas{
  width: 200px;
  height: 200px;
}

/* CSS rules for side bar
#side{
  background: #555;
  min-height: 40em;
  width: 17%;
  top: 40px;
  position: fixed;
}


/*CSS Rules for body

#body{
  float: left;
  width: 83%;
  left: 17%;
  top: 40px;
  position: absolute;
  background: #000;
  z-index: -1;
}
*/*/*/
