body{
  padding-top: 50px;
}


/*css rules for header*/

  nav{
    background: #ddd;
  }

  header #logo{
    background: #999;
  }

  header .navbar{
    margin: 0;
    padding: 0;
  }

  #search *{
    float: left;
    margin:0;
  }

  #search .input{
    position: relative;
    width: 250px;
    height: 50px;
    background: #777;
    border: 0;
    padding-left: 10px;
  }

  #search .submit{
    position:relative;
    width: 50px;
    height: 50px;
    border: 0;
    background: #888;
  }

#side{
  background: #eee;
}

#myCanvas{
  width: 200px;
  height: 200px;
}

.masonry{
	-moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.item{
	background: #eee;
	display: inline-block;
	margin: 0 0 1em;
	width: 100%;
}

@media only screen and (min-width: 100px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.unassign:hover a:before{
  -webkit-transition: all 3s;
  transition: all 3s;

}

.unassign:hover a:after{
    content: 'remove';
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.label a{
  color: #fff;
}

.app_count{
  background: #d0ef4a;
  border: 5px solid;
}

.ap_info{
  margin-top: 100px;
}

.ap_info img{
  float: left;
  margin-top: -100px;
  position: relative;
}

@media screen and (max-width:767px) {
  .ap_info{
    margin-top: 50px;
  }

  .ap_info img{
    margin-top: -50px;
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 768px){
  #search .input{
    width: 150px;
  }
}

@media screen and (min-width: 900px){
  #search .input{
    width: 250px;
  }
}
.panel-info .panel-body{
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}


input[type=number] button{
  background: black;
}
