body{
  padding-top: 50px;
  background: #333;
}

#body{
  background: #fdfdfd;
  min-height: 92vh;
  padding-bottom: 2em;
}
/*css rules for header*/

  nav{
    /*background: #ddd;*/
    background: #53D639;
    background: rgba(28,200,104,1);
    color: #fff;
  }

  nav, nav a{
    color: #fff;
  }

  header #logo{
    background: #999;
    background: rgba(28,181,104,1);
  }

  header .navbar{
    margin: 0;
    padding: 0;
  }

  #search *{
    float: left;
    margin:0;
  }

  #search .input{
    position: relative;
    width: 250px;
    height: 50px;
    background: rgba(28,140,104,1);
    border: 0;
    padding-left: 10px;

  }

  #search .submit{
    position:relative;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(28,140,104,1);
    border-left: 0;
    background: rgba(25,161,104,1);
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

#side{
  background: #333;
}

#myCanvas{
  width: 200px;
  height: 200px;
}

.masonry{
	-moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.item{
	background: #eee;
	display: inline-block;
	margin: 0 0 1em;
	width: 100%;
}

@media only screen and (min-width: 100px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.unassign:hover a:before{
  -webkit-transition: all 3s;
  transition: all 3s;

}

.unassign:hover a:after{
    content: 'remove';
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.label a{
  color: #fff;
}

.app_count{
  background: #d0ef4a;
  border: 5px solid;
}

.ap_info{
  margin-top: 100px;
}

.ap_info img{
  float: left;
  margin-top: -100px;
  position: relative;
}

@media screen and (max-width:767px) {
  .ap_info{
    margin-top: 50px;
  }

  .ap_info img{
    margin-top: -50px;
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 768px){
  #search .input{
    width: 150px;
  }
}

@media screen and (min-width: 900px){
  #search .input{
    width: 250px;
  }
}
.panel-info .panel-body{
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}


input[type=number] button{
  background: black;
}

#calendar{
  position:relative;
}

#loading{
  position:absolute;
  background: rgba(0,50,0,0.2);
  margin: auto;
  padding: 5em;
  z-index: 140;
  text-align:center;
  color:white;
  width:100%;
  height:auto;
  top: 50%;
  -webkit-transform: translate(0,-50%);
     -moz-transform: translate(0,-50%);
       -o-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
}

@keyframes loading{
  0% {
    color: white;
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    color: black;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    color: black;
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg); /* IE 9 */
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#refresh{
  -webkit-animation: loading 3s ease infinite; /* Chrome, Safari, Opera */
  animation: loading 3s ease infinite;
}
