body{
  padding-top: 50px;
  background: #333;
}

#body{
  background: #fdfdfd;
  min-height: 92vh;
  padding-bottom: 2em;
}
/*css rules for header*/

  nav{
    /*background: #ddd;*/
    background: #53D639;
    background: rgba(28,200,104,1);
    color: #fff;
  }

  nav, nav a{
    color: #fff;
  }

  header #logo{
    background: #999;
    background: rgba(28,181,104,1);
  }

  header .navbar{
    margin: 0;
    padding: 0;
  }

  #search *{
    float: left;
    margin:0;
  }

  #search .input{
    position: relative;
    width: 250px;
    height: 50px;
    background: rgba(28,140,104,1);
    border: 0;
    padding-left: 10px;

  }

  #search .submit{
    position:relative;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(28,140,104,1);
    border-left: 0;
    background: rgba(25,161,104,1);
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

#side{
  background: #333;
}

#myCanvas{
  width: 200px;
  height: 200px;
}

.masonry{
	-moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.item{
	background: #eee;
	display: inline-block;
	margin: 0 0 1em;
	width: 100%;
}

@media only screen and (min-width: 100px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.unassign:hover a:before{
  -webkit-transition: all 3s;
  transition: all 3s;

}

.unassign:hover a:after{
    content: 'remove';
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.label a{
  color: #fff;
}

.app_count{
  background: #d0ef4a;
  border: 5px solid;
}

.ap_info{
  margin-top: 100px;
}

.ap_info img{
  float: left;
  margin-top: -100px;
  position: relative;
}

@media screen and (max-width:767px) {
  .ap_info{
    margin-top: 50px;
  }

  .ap_info img{
    margin-top: -50px;
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 768px){
  #search .input{
    width: 150px;
  }
}

@media screen and (min-width: 900px){
  #search .input{
    width: 250px;
  }
}
.panel-info .panel-body{
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}


input[type=number] button{
  background: black;
}



#calendar{
  position:relative;
  overflow: hidden;
}

#loading{
  position:absolute;
  background: rgba(0,50,0,0.2);
  margin: auto;
  padding: 5em;
  z-index: 140;
  text-align:center;
  color:white;
  width:100%;
  height:auto;
  top: 50%;
  -webkit-transform: translate(0,-50%);
     -moz-transform: translate(0,-50%);
       -o-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
}

@keyframes loading{
  0% {
    color: #7F7F7F;
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    color: #000;
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    color: #fff;
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg); /* IE 9 */
         -o-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  100% {
    color: #7F7F7F;
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg); /* IE 9 */
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#refresh{
  -webkit-animation: loading 2s linear infinite; /* Chrome, Safari, Opera */
  animation: loading 2s linear infinite;
}

.progress{
  height: 0.5em;
  margin-bottom: 0;
}

#grade_table tfoot{
  font-weight: bold;
}

#eventDesc{
  background: #243; /*#2BA70B;*/
  color: white;
  margin:0;
  min-height: 90%;
  font-family: 'felixregular'!important;
}

#eventDesc *
{
  font-family: 'felixregular'!important;
}

#eventDesc h3{
  border: 1px solid #fff;
  border-width: 1px 0;
  padding: 0.5em 0;
}

#calendar_tab{
  padding-top: 1em;
}

#applicant_cover{
  background: #cfc;
  overflow: hidden;
  position: relative;
  height: 125px;
}

#applicant_image{
  z-index: 2;
  width: 125px;
  height: auto;
  position: relative;
  margin-left: 15px;
}

#applicant_image_opaque{
  opacity: 0.6;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(10%,-40%);
     -moz-transform: translate(10%,-40%);
       -o-transform: translate(10%,-40%);
      -ms-transform: translate(10%,-40%);
          transform: translate(10%,-40%);
}

#applicant_right{
  box-shadow: 0 0.2em 0.05em rgba(0,0,0,0.4);
  margin-bottom: 15px;
  z-index: 500;
  position: relative
}

#applicant_right #divider div{
  height: 7px;
  overflow: hidden;
  margin-top: 1px;
}

#result_div ul{
  margin: 0;
  padding: 0;
}

#result_div ul > li{
  list-style: none;
  margin-left: 0;
}

#result_div > ul > li{
  padding-left: 5px;
  padding-bottom: 10px;
  width: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0.1em 0.1em #ddd;
}

#applicant_head{
  width: 50px;
  height:50px;
  background: #ddd;
  margin-right: 5px;
  margin-top: 5px;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 2em;
}

#search_bar{
  top: -19px;
  padding: 5px 2px ;
  background: #5a5;
  border-bottom: 2px solid #050;
}
