<h1 class="page-header">Admin Dashboard </h1>

<div class="col-md-6">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="jumbotron">
          <h2>Welcome <%=  %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
