<div id="error_explanation_pos" class="alert alert-danger" style="display: none">
  <h2><span># errors</span> prohibited this admin from being saved:</h2>
  <ul>
    <li> sample error </li>
  </ul>
</div>


<div class="col-md-6">
<h3> List of Positions</h3>
<ul class="list list-group" id="posList">

</ul>


<%= form_tag '#', :id=>'pos_form' do%>
  <div class="col-md-9">
    <div class="form-group">
      <%= text_field_tag :position_title, '' , :class=>'form-control', :placeholder=>"New Position Title" , :tabindex=>'5', :required=>true%>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <a id="addPos" class="btn btn-success form-control"> Add </a>
    </div>
  </div>
<% end %>
</div>

<div class="clearfix"></div>
<div class="col-xs-12">
  <div class="col-xs-2 pull-right">
    <a class="btn btn-primary btn-lg btnPosNext" id="next" data-step = "4" style="display:none">Next</a>
  </div>
</div>
<script type="text/javascript">

  $('#addPos').click(function(){
    if ($('#pos_form').smkValidate()) {
      addPos();
    }
  });

  $('#pos_form').submit(function(){
    if ($('#pos_form').smkValidate()) {
      addPos();
    }
    return false;
  });


  function addPos(){
    var position = {}
    position["title"] = $('#position_title').val();

    $.ajax({
      url: '/wizard/add_pos',
      data: {position},
      method: 'POST',
      dataType: 'json',
      beforeSend: function(){
        $('#addPos').text('Loading...');
        $('#error_explanation_pos').hide();
      },
      success: function(data){
        if (data[0].ok){
          $('#addPos').text('Add')
          $('.btnPosNext').show();
          doContinue = true;
          $('#posList')
            .append(
              $('<li class="list-group-item list-group-item-danger">')
              .text(position["title"])
            );
          $.smkAlert({
            text: position["title"] + ' has been added',
            type: 'success'
          });
          $('#position_title').val('');
        }
        else{
          $('#addPos').text('Try Again')

          $('#error_explanation_pos').show()
          var sError = 'error'
          errorCount = data[2].errors
          if(errorCount > 1)
            sError += 's'

          $('#error_explanation_pos h2 span').text(errorCount + ' ' + sError)
          $('#error_explanation_pos ul').html('');

          $.each(data[1], function(key, value){
            console.log(key + ' ' + value)
            $('#error_explanation_pos ul').append($('<li>').text(key + ' ' + value));
            $('#' + key).css('border-color', 'red');
            $('#' + key).css('background', 'rgba(255,0,0,0.1)');
            $('#' + key).css('color', 'white');

          })
        }
      },
      error: function(a,b,c){
        $('#addDept').text(c);
      },
      complete: function(){
        if(doContinue){
          $.ajax({
            url: '/wizard/done',
            data: { data : "pos"},
            method: "POST",
            success: function(){
              console.log('POSITION DONE');
            },
            error: function(a,b,c){
              alert(c);
            }
          });
        }
      }
    })
  }

</script>
