<div class="row">
<div class="col-sm-2 hidden-xs side" style="overflow: hidden">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
</div>
<div class="col-sm-10 col-xs-12">
  <div class="row" id="steps">

    <span class="step" id="spectrum">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-header">Oooooops!</h1>
        <h3> It seems that this is your first time to use this application.
          We just want to inform you that you need to set-up some data before
          to use this.
        </h3>

        <h2> <a class="btn btn-primary btn-lg" id="next" data-step = "1">Click Here </a></h2>
        </div>
    </span>

    <span class="step">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-header">Add New Admin</h1>
          <%= render 'admin' %>
      </div>
    </span>

    <span class="step">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-header">Add New Department</h1>
          <%= render 'department' %>
      </div>
    </span>

    <span class="step">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-header">Add New Job Position</h1>
          <%= render 'position' %>
      </div>
    </span>

    <span class="step">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-header">Add New Exams</h1>
          <%= render 'exam' %>
      </div>
    </span>

    <span class="step">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-header">Congratulations!</h1>
          <h3> You're almost done. After clicking the button
            below, you will be redirected to the login page. Just don't forget
            to create new interviewers and assign the exams to the position.
          </h3>
          <h1><a class="btn btn-lg btn-success" id="btnWelc">Click Here</a></h1>
      </div>
    </span>

  </div>
</div>
</div>


<script type="text/javascript">
  var width = $('#steps').width();
  var step = 0;



  $('a').click(function(){
    switch(step){
    case 0: doContinue = true; break;
    case 1: doContinue = false; break;
  }

    if($(this).attr('id') == 'next' && doContinue){
      step = $(this).data('step');
      $('.step').animate({
        left: -((width*step)) + 'px'
      }, 1000);
    }
  });
</script>

<script type="text/javascript">
  $(window).resize(function(){
    width = $('#steps').width();
    $('.step').css('left', -width*step + 'px');
  });
</script>

<script type="text/javascript">
  width = $('#steps').width();
  <% if params[:current] == "admin" %>
    step = 1;
  <% elsif params[:current] == "dept" %>
    step = 2;
  <% elsif params[:current] == "pos" %>
    step = 3;
  <% elsif params[:current] == "exams" %>
    step = 4;
  <% elsif params[:current] == "welc" %>
    step = 5;
  <% end %>
  $('.step').css("left", -width*step + 'px');
</script>

<script type="text/javascript">
  $('#btnWelc').click(function(){
    $.ajax({
      url: '/wizard/done',
      data: { data : "welc"},
      method: "POST",
      success: function(){
        console.log('done')
        location.href= '/'
      },
      error: function(a,b,c){
        alert(c);
      }
    });
  });
</script>

