
<h2>Applicants</h2>
  <ul>
    <li><%=link_to "Manage Applicants", applicants_path%></li>
    <li><%=link_to "Add new Applicant", new_applicant_path%></li>
  </ul>


     <%= link_to 'HOME', index_url %> |
      <%= link_to 'APPLICANTS MANAGEMENT', applicants_url %>
